@import "tailwindcss";

:root {
    --background: hsl(0, 0%, 0%);
    --foreground: #fff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-geist-sans);
}

body {
    background: var(--background);
    color: var(--foreground);

    font-family: var(--font-geist-sans);
}

/* Hide arrows from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-stone-600);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-stone-500);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-stone-600) transparent;
}


.debug, .debug * {
    outline: 1px solid hsla(120, 100%, 25%, 0.5);
}
